.cust_bar {
    text-align: right;
    background-color: navy;
    padding: 1rem;
    position: fixed; 
    width: 100%; 
    z-index: 1000; 
}

nav {
    text-align: center;
    background-color: navy;
    padding: 1rem;
}

a:hover {
    background-color: slategray;
}

a {
    padding: 5px 16px;
    display: inline-block;
    border-radius: 3px;
    text-decoration: none;
    color: white;
    background-color: navy;
    transition: 0.3s;
}
