<div>
    <h2>Password Recovery</h2>
    <label>
        Account Email:
        <input [(ngModel)]="userEmail" type = "text"/>
    </label>
    <br>
    <label>
        Security Question:
        <input [(ngModel)]="securityQuestion" type = "text"/>
    </label>
    <br>
    <label>
        Security Answer:
        <input [(ngModel)]="securityAnswer" type = "text"/>
    </label>
    <br>
    <label>
        New Password:
        <input [(ngModel)]="userPassword" type = "password"/>
    </label>
    <br>
    <button (click)="handleChange()">Check Account</button>
</div>
