<div class = "showcase">
    @if(hotel){

        <!--
        <h1> Name of Hotel : {{hotel.Hotel_Name}} </h1>
        <img src = {{hotel.Hotel_Image}} alt = "hotel image"/>
        <button type = "button" (click) = "testClick()"> Image of Hotel </button> -->
        
        <!-- <h1>{{hotel.hotelName}}</h1> -->
        
        <button class = "imageShowcase handleImage" id = "hotelButton" (click) = "loadProductPage(hotel)">
            <h1>{{hotel.hotelName}}</h1>
            <!-- <label for = "buttonImage">Button</label> -->
            <img class = "imageSpecs" id = "buttonImage" src = {{hotel.hotelImage}} alt = "Image of Hotel" />
        </button>
    } @else {
        <p>Sorry no hotels here</p>
    }

</div>
