<div class="searchFilter">
    <div class="filterContainer">
        <app-filter (newFilterType)="addFilters($event)" (newFilterValue)="addFiltersValue($event)"></app-filter>
    </div>
    <div class="buttonContainer">
        <app-search (search)="addSearch($event)"></app-search>
        <button id="clear" (click)="clearValues()">Clear</button>
    </div>
</div>

<div class="wrapper">
    <ng-container class="allTheHotels" *ngIf="hotelList$ | async as hotelList">
        <div class="hotel-container" *ngFor="let hotel of hotelList">
            <app-hotel-showcase [inputHotel]="hotel"></app-hotel-showcase>
        </div>
    </ng-container>
</div>
