
<div>
    <h2>Login</h2>
    <label>
        Email Address:
        <input [(ngModel)]="userEmail" type = "text"/>
    </label>
    <br>
    <label>
        Password:
        <input [(ngModel)]="userPassword" type = "password"/>
    </label>
    <br>
    <h4 *ngIf="emailError" style="color: red;">Please include an email address and password</h4>
    <a href="/register">Create New Account</a>
    <br>
    <a href="/passchange">Forgot Password?</a>
    <br>
    <button (click)="handleLogin()">Log In</button>
</div>
