<br/><br/><br/><br/><br/>

@if(hotelObject){
    <div style = "text-align: center;">

            <label> {{hotelObject.hotelName}}</label> <button (click) = "addFavorite()"> &#x2606;</button>
            <h2>{{hotelObject.hotelAddress}}</h2>
            <img src ="{{hotelObject.hotelImage}}"  alt = "No Image Found"/>
            <p> {{hotelObject.hotelDescription}}</p>
            <p> ${{hotelObject.priceLow}} to ${{hotelObject.priceHigh}} a Night</p>
            <div>
            @if(hotelObject.hotelPool || hotelObject.hotelSauna || hotelObject.hotelRest){
                @if(hotelObject.hotelPool){
                    <p>Pool</p>
                }
                @if(hotelObject.hotelSauna){
                    <p>Sauna</p>
                }
                @if(hotelObject.hotelRest){
                    <p>Bed</p>
                }
            }@else{
                <p>No Amenities Included</p>
            }
                
            </div>

            <br/><br/><br/>

            <button (click) = "createReview()">Leave a Review</button> <button (click) = "goToRoomsPage()"> Book Room </button>

            <br/><br/>

            <div id = "reviewSpace" hidden>
                <input id = "ratingField"  type = "number" placeholder = "Please enter your rating out of 5" value = ""/>
                <input id = "inputField" (keypress) = "finishReview($event)" type = "text" placeholder = "Write your review here" style = "width: 500px; height: 100px;" value = "some placeholder"/>
            </div>

            <br/><br/><br/><br/>
            @if(hotelReviews){
                <ng-container *ngFor="let review of hotelReviews;">
                    <div id = "allReviews">
                        <label for = "reviewBody">{{review.customerId}} gave this hotel {{review.reviewStar}} stars</label>
                        <p id = "reviewBody">{{review.reviewBody}}</p>
                        <br/><br/>
                    </div>
            </ng-container>
            }
    </div>
}@else{

    <p>Some Error Occured</p>

}