<div class = reservations>
    @for(item of mapFromServer.keys(); track item;) {
            @if(mapFromServer.get(item)?.length != 0) {

                <p>{{item}}</p>
                @for(booking of mapFromServer.get(item); track booking;) {
                    
                    <div>
                        <span>Booking Start date: {{booking.bookingStart}}</span>
                        <span>Booking End date: {{booking.bookingEnd}}</span>
                        <span>Number of guests: {{booking.bookingGuests}}</span>
                        <button (click) = "acceptBooking(booking)">Accept Booking </button>
                        <button (click) = "rejectBooking(booking)">Reject Booking </button>
                    </div>
                }
            }
    }
</div>
