<p>manage-reservations works!</p>
<ul class = reservations>
    <!--
    @for(hotelReservation of reservations; track hotelReservation;) {
        <li>
            <p>{{hotelReservation.hotelName}}</p>
            @for(booking of hotelReservation.hotelBookings; track booking;) {
                <div>Booking Start date: {{booking.bookingStart}}</div>
                <div>Booking End date: {{booking.bookingEnd}}</div>
                <div>Number of guests: {{booking.bookingGuests}}</div>
                <button (click) = "acceptBooking(booking)">Accept Booking </button>
                <button (click) = "rejectBooking(booking)">Reject Booking </button>
            }
        </li>
    }
-->

</ul>
